## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Loading Dataset

In [2]:
iris_data = pd.read_csv("Datasets/Iris_data_sample.csv")

In [3]:
iris_data

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
iris_data = pd.read_excel("Datasets/Iris_data_sample.xlsx")

In [5]:
excel_data = pd.read_excel("Datasets/Iris_data_sample.xlsx")

In [6]:
excel_data

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
## loading a txt data
iris_data_txt = pd.read_csv("Datasets/Iris_data_sample.txt", delimiter=" ")

In [8]:
iris_data_txt

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
## creating a copy of the original data
## shallow copy
df_1 = iris_data_txt.copy(deep=False)

In [10]:
## deep copy
df_2 = excel_data.copy(deep=True)

In [11]:
df_3 = excel_data.copy()

In [12]:
## delete the  Unnamed: 0
del df_1["Unnamed: 0"]

In [13]:
del df_2["Unnamed: 0"]

In [14]:
del df_3["Unnamed: 0"]

In [15]:
df_1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

## Data Overview

. index

. columns

. size

. shape

In [16]:
df_3.index

RangeIndex(start=0, stop=150, step=1)

In [17]:
df_3.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [18]:
##
df_3.size

750

In [19]:
##
df_3.shape

(150, 5)

In [20]:
df_3.ndim

2

## Indexing And Selecting
- .head() - first five rows
- .tail() - last five rows

In [21]:
df_3.head()

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
0           5.1           3.5           1.4           0.2  Iris-setosa
1           4.9           NaN           1.4           0.2          NaN
2           4.7           3.2           1.3           0.2  Iris-setosa
3            ??           3.1           1.5           0.2  Iris-setosa
4             5           3.6           ###           0.2  Iris-setosa

In [22]:
df_3.tail()

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
145           6.7           3.0           5.2           2.3  Iris-virginica
146           6.3           2.5             5           1.9  Iris-virginica
147           6.5           3.0           5.2           2.0  Iris-virginica
148           6.2           3.4           5.4           2.3  Iris-virginica
149           5.9           3.0           5.1           1.8  Iris-virginica

In [23]:
df_3.head(5)

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
0           5.1           3.5           1.4           0.2  Iris-setosa
1           4.9           NaN           1.4           0.2          NaN
2           4.7           3.2           1.3           0.2  Iris-setosa
3            ??           3.1           1.5           0.2  Iris-setosa
4             5           3.6           ###           0.2  Iris-setosa

In [24]:
df_3.head(15)

   SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5           1.4           0.2  Iris-setosa
1            4.9           NaN           1.4           0.2          NaN
2            4.7           3.2           1.3           0.2  Iris-setosa
3             ??           3.1           1.5           0.2  Iris-setosa
4              5           3.6           ###           0.2  Iris-setosa
5            5.4           3.9           NaN           0.4  Iris-setosa
6            4.6           3.4           1.4           0.3  Iris-setosa
7              5           3.4           1.5           0.2  Iris-setosa
8            4.4           2.9           1.4           0.2  Iris-setosa
9            4.9           3.1           1.5           0.1  Iris-setosa
10           5.4           3.7           1.5           0.2  Iris-setosa
11           4.8           3.4           1.6           0.2  Iris-setosa
12           4.8           3.0           1.4           0.1  Iris-setosa
13           4.3           3.0           1.1           0.1  Iris-setosa
14           5.8           4.0           1.2           0.2  Iris-setosa

In [25]:
df_3.at[2, 'SepalLengthCm']

4.7

In [26]:
df_3.iat[2, 1]

3.2

In [27]:
df_3.loc[10:30, 'Species']

10    Iris-setosa
11    Iris-setosa
12    Iris-setosa
13    Iris-setosa
14    Iris-setosa
15    Iris-setosa
16    Iris-setosa
17    Iris-setosa
18    Iris-setosa
19    Iris-setosa
20    Iris-setosa
21    Iris-setosa
22    Iris-setosa
23    Iris-setosa
24    Iris-setosa
25    Iris-setosa
26    Iris-setosa
27    Iris-setosa
28    Iris-setosa
29    Iris-setosa
30    Iris-setosa
Name: Species, dtype: object

In [28]:
toyota = pd.read_csv("Datasets/Toyota.csv")
df = toyota.copy()

In [29]:
df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [30]:
del df["Unnamed: 0"]

In [31]:
df

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [32]:
## lets check the type of each column
df.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [33]:
## select a section of the data base on type
df.select_dtypes(exclude=[object])

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

In [ ]:
## lets check the type of each column

In [34]:
df.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [ ]:
## get concise summary of our dataframe

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 112.3+ KB

In [ ]:
## lets check for unique instance in KM column

In [36]:
print(np.unique (df['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [ ]:
## lets check for unique instance in HP colunm

In [37]:
print(np.unique(df['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [ ]:
## lets check for unique instance in Automatic colunm

In [38]:
print(np.unique(df['Automatic']))

[0 1]