## Importing Libraries

In [11]:
## loading and preprocessing data
import numpy as np
import pandas as pd

## Loading And Creating a Copy of data

In [13]:
toyota_data = pd.read_csv("Datasets/Toyota.csv")

In [14]:
## Creating a Copy
toyota_df = toyota_data.copy()

## Overviewing And Understanding The Toyota Dataframe

In [15]:
## lets see the first five rows
toyota_df.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [16]:
## lets see the last five rows
toyota_df.tail()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [17]:
## lets check the size of the data
toyota_df.size

15796

In [19]:
## lets check total number of rows and columns
print(f"Total Number of Rows: {toyota_df.shape[0]} => Total Number of Columns: {toyota_data.shape[1]}")

Total Number of Rows: 1436 => Total Number of Columns: 11

In [20]:
## lets display index
toyota_df.index

RangeIndex(start=0, stop=1436, step=1)

In [21]:
## lets display the column names
toyota_df.columns

Index(['Unnamed: 0', 'Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor',
       'Automatic', 'CC', 'Doors', 'Weight'],
      dtype='object')

In [22]:
## lets check the columns types 
toyota_df.dtypes

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [24]:
## lets get a concise summary of our toyota dataframes
toyota_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

check for unique instances in the following columns
- HP
- KM
- MetColor
- Automatic
- Doors

In [26]:
print(np.unique(toyota_df['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [27]:
print(np.unique(toyota_df['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [28]:
print(np.unique(toyota_df['MetColor']))

[ 0.  1. nan]

In [29]:
print(np.unique(toyota_df['Automatic']))

[0 1]

In [30]:
print(np.unique(toyota_df['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']